<IfModule mod_mime.c>
  AddType video/mp4 .mp4
  AddType video/ogg .ogv
  AddType video/webm .webm
</IfModule>

DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.+[^/])$ $1/ [R=301,L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType video/mp4 "access plus 1 month"
  ExpiresByType video/ogg "access plus 1 month"
  ExpiresByType video/webm "access plus 1 month"
</IfModule>
